<!doctype html>
<html lang="ko">

<%include ./include/head%>

<body>

<div class="wrap">

  <%include ./include/leftbox%>
  <div class="rightbox">

    <%include ./include/header%>

    <div class="content">


      <div class="card">
        <div class="title">
          <h5>KSP <%=LANG['LANG94']%></h5>
        </div>
        <div class="cont">
          <div class="inputbox pb-0">
            <div class="inputbtnbox">
              <label for=""><%=LANG['LANG95']%></label>
              <input type="number" class="input" id="BALANCE" value="0" placeholder="">
              <p class="tx-bold">KSP</p>
            </div>
          </div>
          <hr class="hr">
          <div class="inputbox">
            <div class="inputbtnbox">
              <input type="text" class="input" id="R_UID" value="" placeholder="<%=LANG['LANG96']%>" readonly>
              <a class="btn btn-primary btn-memsearch"><%=LANG['LANG09']%></a>
            </div>
          </div>
          <div class="inputbox">
            <div class="inputbtnbox">
              <input type="number" class="input" id="AMOUNT" value="" placeholder="<%=LANG['LANG97']%>">
              <p class="tx-bold">KSP</p>
            </div>
          </div>
          <div class="inputbox">
            <input type="password" class="input" id="D_PASS2" value="" placeholder="<%=LANG['LANG98']%>">
          </div>

          <a onclick="witdraw()" class="btn btn-block btn-primary btn-radius mb-10"><%=LANG['LANG99']%></a>
        </div>
      </div>






      <%include ./include/footer%>

    </div><!-- content end -->

  </div><!-- rightbox end -->

  <div id="memsearch">
    <div id="memsearchbox">
      <div id="memsearchinbox">
        <div class="appmenutitle">
          <h4 class="tx-c"><%=LANG['LANG20']%></h4>
          <a class="close"><i class="fas fa-times"></i></a>
        </div>
        <div class="contbox">
          <div class="inputbtnbox mb-30">
            <input class="input" id="S_UID" value="" placeholder="<%=LANG['LANG21']%>" onkeyup="enterkey()">
            <a class="btn btn-primary" onclick="getReconeds()"><%=LANG['LANG09']%></a>
          </div>
  
          <div class="tablebox">
            <div class="theadbox">
              <div class="d-flex">
                <div class="th w33p"><%=LANG['LANG22']%></div>
                <div class="th w33p"><%=LANG['LANG23']%></div>
                <div class="th w33p"></div>
              </div>
            </div>
            <div class="tbodybox" style="max-height: 300px; overflow: auto;" id="list">
            </div>
          </div>
  
  
        </div>
      </div>
    </div>
  </div>

  </div>


  </body>


  </html>


<script src="include/js/cur.js"></script>
<script>
  $(document).ready(function () {
    init();
  });
  async function init() {
    const r = await api.commonApi("/getKSPBalance")
    commonLib.bindValue(r.data)
    
  }
  async function witdraw() {
    const param = {}
    param['R_UID'] = $("#R_UID").val()
    param['AMOUNT'] = $("#AMOUNT").val()
    param['D_PASS2'] = $("#D_PASS2").val()
    console.log(param);
    if (commonLib.nullCheck(param)) {
      alert("<%=LANG['LANG05']%>")
      return
    }
    const r = await api.commonApi("/transferAmount", param)
    console.log(r);
    if (r.data.RESULT === 0) {
      alert("<%=LANG['LANG85']%>")
      location.reload()
    } else if (r.data.RESULT === 1) {
      alert("<%=LANG['LANG90']%>")
    } else if (r.data.RESULT === 2) {
      alert("<%=LANG['LANG90']%>")
    }else if (r.data.RESULT === 3) {
      alert("<%=LANG['LANG100']%>")
    }else if (r.data.RESULT === 4) {
      alert("<%=LANG['LANG101']%>")
    } else {
      alert("<%=LANG['LANG30']%>")
    }
  }

  function enterkey() {
    if (window.event.keyCode == 13) {
      getReconeds()
    }
  }

  function selectRid(val) {
    $("#R_UID").val(val)
    $(".overlayblack2").remove();
    $("body").css("overflow", "auto");
    $("#memsearch").fadeOut(500);
  }
  async function getReconeds() {
    const SEARCH_ID = $("#S_UID").val()
    if (SEARCH_ID) {
      const searchP = await api.listApi("/searchP", { SEARCH_ID: SEARCH_ID })
      $("#list").empty()
      searchP.data.forEach(el => {
        let innerHtml = '';
        innerHtml += '<div class="d-flex tr">';
        innerHtml += '<div class="td w33p"><span>'+ LANG['LANG22'] +'</span><span>' + el.D_UID + '</span></div>';
        innerHtml += '<div class="td w33p"><span>'+ LANG['LANG23'] +'</span><span>' + el.D_NAME_H + '</span></div>';
        innerHtml += '<div class="td w33p"><a class="btn btn-s btn-primary btn-radius" onclick="selectRid(\'' + el.D_UID + '\')">'+ LANG['LANG24'] +'</a></div>';
        innerHtml += '</div>';
        $("#list").append(innerHtml)
      })
    }
  }

</script>